@model NewBankBD.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cli_identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cli_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
